@import "../../../utils/media.scss";

.itemNavigation {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  &_item {
    width: 100%;
    height: 41px;
    padding-right: 5px;
    padding-left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include respond(phone) {
      height: auto;
      flex-direction: column;
      align-items: flex-start;
    }
    h1 {
      text-align: left;
    }
    &.arrow {
      padding: 0;
      cursor: pointer;
      display: flex;
      justify-content: flex-start;
    }
    .spacing{
      margin-left: 6px;
    }
  }
}
