@import "../../../utils/media.scss";

.mainHeaderContent {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  &.active {
    color: red;
  }
  &_textContainer {
    cursor: pointer;
  }
  &_container {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: margin 300ms ease-in-out;
    @include respond(phone) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &.fromHome {
      margin-top: 44px;
    }
    a {
      margin-right: 5px;
      cursor: pointer;
      &:last-of-type {
        margin-right: none;
      }
    }
  }
}

.mainFooterContent {
  &_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: margin 300ms ease-in-out;
    &.fromHome {
      margin-bottom: 44px;
    }
    .cross {
      position: absolute;
      top: 0;
      left: 0;
    }
    h2 {
      &.margin {
        margin-right: 44px;
      }
    }
  }
}
