@import "../../../utils/media.scss";
.showCaseCarousel {
  width: 100%;
  //   max-width: var(--max-width-extra);
  // height: 454.50px;
  margin: 0 auto;
  overflow: hidden;
  z-index: 100;
  &_section {
    width: 100%;
    @include respond(phone) {
      padding-top: 20px;
    }
  }
  &_container {
    width: fit-content;
    display: flex;
  }
}
.title {
  margin-bottom: 46px;
}

.sliderItem {
  width: 454.50px;
  height: 561px;
  justify-content: flex-end;
  position: relative;
  margin-right: 10px;
  background: var(--main-white);
  &.last{
    margin-right: 350px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 300ms ease-in-out;
    z-index: -2;
    pointer-events: none;
  }
}
