@import "../../utils/media.scss";

.store {
  padding-top: 90px;
  @include respond(phone) {
    padding: 90px 40px 0 40px;
  }
  &_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 50px;

    min-height: 100vh;
  }
}
