@import "../../../utils/media.scss";
.item {
  width: 215px;
  height: 316px;
  position: relative;
  @include respond(phone) {
    width: 285px;
    height: 400px;
  }
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 300ms ease-in-out;
  }
  &.fromShowcase {
    width: 329px;
    height: 485px;
    margin: 0 auto;
  }
}

.old {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 28px;
  background: var(--main-orange);
  display: flex;
  align-items: center;
  justify-content: center;
}
