@import "../../../utils/media.scss";
.item {
  width: 187px;
  height: 232px;
  position: relative;
  background-color: #ffffff;
  transition: all 300ms ease-in-out;
  margin-right: 10px;
  margin-top: 10px;
  &.isClosed{
    width: 82px;
    height: 102px;
  }
  @include respond(phone) {
    width: 155px;
    height: 193px;
  }
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 300ms ease-in-out;
  }
  &.fromShowcase {
    width: 329px;
    height: 485px;
    margin: 0 auto;
  }
}

.old {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 28px;
  background: var(--main-black);
  border: 1px solid var(--main-white);
  display: flex;
  align-items: center;
  justify-content: center;
}
