@import "../../utils/media.scss";
.item {
  padding-top: 200px;
  width: 100%;
  min-height: 100vh;
  @include respond(phone) {
    padding-top: 80px;
  }
  &_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.308);
    text-align: left;
    position: relative;
    overflow: hidden;
    min-height: 586px;
    @include respond(phone) {
      flex-direction: column-reverse;
      width: 100%;
      border-bottom: none;
    }
  }
  &_recommend {
    width: 100%;
    padding-top: 42px;
    text-align: left;
    h2 {
      text-align: left;
    }
  }
  .actionButton {
    @include respond(phone) {
      margin: 0 auto;
    }
  }
}
