@import "../../utils/media.scss";
.item {
  padding-top: 200px;
  width: 100%;
  min-height: 100vh;
  @include respond(phone) {
    padding-top: 80px;
  }
  &_container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    // padding-bottom: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    text-align: left;
    position: relative;
    overflow: hidden;
    min-height: 586px;
    padding-bottom: 75px;
    @include respond(phone) {
      flex-direction: column-reverse;
      width: 100%;
      border-bottom: none;
    }
  }
  &_recommend {
    width: 100%;
    padding-top: 15px;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    &_title{
      color: white;
      flex: 2
    }
    &_data{
      flex: 5
    }
  }
  .actionButton {
    @include respond(phone) {
      margin: 0 auto;
    }
  }
}
