@import "../../../utils/media.scss";

.content {
  display: flex;
  justify-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  @include respond(phone) {
    flex-direction: column;
    padding: 0 34px;
  }
  &_title {
    // width: 284px;
    flex: 2;
    @include respond(phone) {
      width: 100%;
    }
  }
  &_children {
    // width: 560px;
    flex: 5;

    margin: 0 auto;
    @include respond(phone) {
      width: 100%;
    }
  }
}

.contact{
  p{
    margin-top: 145px;
  }
  h2{
    margin-top: 15px;
  }
}