@import "../../../utils/media.scss";
.sliderItem {
  width: 220px;
  height: 400px;
  cursor: pointer;
  &.isPreview {
    height: 323px;
    margin-top: 38px;
    margin-bottom: 38px;
  }
  &.isHoodie {
    width: 280px;
  }
  &.isSlipper {
    width: 320px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 300ms ease-in-out;
  }
}
