@import "../../utils/media.scss";
.cart {
  display: flex;
  justify-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  padding-top: 200px;
  @include respond(phone) {
    padding-top: 120px;
    flex-direction: column;
    overflow: hidden;
  }
  &_title {
    margin-bottom: auto;
  }
  &_container {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-items: center;
    flex: 5;
  }
  &_left {
    // height: 100%;
    flex: 2;
    &Footer{
      display: flex;
      align-items: center;
      margin-top: 27px;
      h5{
        margin-right: 32px;
      }
    }
    @include respond(phone) {
      margin-right: 0;
      padding-left: 34px;
    }
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.buttonMobile {
  width: 100%;
  padding: 0 34px;
  margin-top: 40px;
  button {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    height: 44px;
    span {
      font-size: 18px !important;
      margin-top: 2px;
    }
  }
  h4 {
    margin-bottom: 18px;
  }
}

.iva{
  margin-top: 27px;
}