@import "../../../utils/media.scss";
.detailsMobile {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: var(--main-black);
  padding: 57px 88px;
  padding-top: 25px;

  @include respond(phone) {
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    padding: 25px 10px;
    height: 350px;
  }

  .arrow {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  span,
  p {
    text-align: center !important;
    color: var(--main-black) !important;
    font-family: "Helvetica", "sans-serif" !important;
    opacity: 1 !important;
  }
  h3 {
    margin: 10px 0;
  }
  .safety {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      margin-right: 20px;
      fill: black !important;
      stroke: black !important;
      * {
        fill: black !important;
        stroke: black !important;
      }
    }
  }
}
