.modalPreview {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  z-index: 30000;
  background-color: black;
  &Overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 20000;
    background: black;
  }
  &_container {
    position: absolute;
    width: fit-content;
    div {
      width: 500px;
      height: 100vh;
    }
  }
}
