@import "../../../utils/media.scss";

.layout {
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
  @include respond(desktop) {
    padding: 0 40px;
  }
  @include respond(tab-port) {
    padding: 0 20px;
  }
  @include respond(phone) {
    padding: 0;
  }
}
