@import "../../../utils/media.scss";

.field {
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: 250px;
  position: relative;
  &.isTextArea {
    max-width: 500px;
  }
  @include respond(phone) {
    max-width: 100%;
    margin-bottom: 15px;
  }
  span {
    width: 100%;
    margin-top: 5px;
  }
}
