.Home {
  width: 100%;
  height: 100vh;
  // padding-top: 83px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
  svg {
    position: absolute;
    top: 83px;
  }
  &_footer {
    position: fixed;
    top: 415px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.backgroundVideo{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}
@media only screen and (min-width: 320px) and (max-width: 800px) and (orientation: landscape) {
  .Home {
    svg {
      top: 0px;
    }
  }
}

.spacing{
  // margin-top: 51px;
  position: absolute;
  bottom: 33vh;
}