.detailsMobile {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 350px;
  background-color: var(--main-orange);
  padding: 20px 20px;
  .arrow {
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
  }
  span,
  p {
    text-align: center !important;
    color: var(--main-black) !important;
    font-family: "Helvetica", "sans-serif" !important;
    opacity: 1 !important;
  }
  h3 {
    margin: 10px 0;
  }
  .safety {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      margin-right: 20px;
      fill: black !important;
      stroke: black !important;
      * {
        fill: black !important;
        stroke: black !important;
      }
    }
  }
}
