.shippingCard {
  padding: 14px 18px 14px 18px;
  width: 100%;
  max-width: 582px;
  border: 1px solid rgba($color: #ffff, $alpha: 0.4);
  cursor: pointer;
  transition: all 200ms ease-in-out;
  margin-bottom: 18px;
  &.selected {
    border-color: var(--main-white);
  }
  h2 {
    margin-bottom: 10px;
    transition: all 200ms ease-in-out;
  }
  h3 {
    margin-bottom: 10px;
    transition: all 200ms ease-in-out;
  }
  h4 {
    transition: all 200ms ease-in-out;
  }
}
