.input {
  width: 100%;
  height: 34px;
  border: none;
  border-bottom: 1px solid rgba($color: #ffff, $alpha: 0.4);
  outline: none;
  font-family: "Helvetica", "sans-serif";
  color: var(--main-white);
  padding: 5px 0 5px 15px;
  text-align: left;
  font-size: 15px;
  background: transparent;
  outline: none;
  &::placeholder {
    color: rgba($color: #ffff, $alpha: 0.4);
  }
  &.invalid {
    border-color: var(--main-white);
  }
}
