.storeDrop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_title {
    display: flex;
  }
  &_drop {
    background: none;
    fill: white;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .basics{
    svg, path{
      fill: black
    }
  }
}
