.select {
  width: 100%;
  height: 34px;
  border: 1px solid var(--main-white);
  font-family: "Helvetica", "sans-serif";
  color: var(--main-white);
  padding: 5px 0 5px 15px;
  text-align: left;
  font-size: 15px;
  background: transparent;
  outline: none;
  &::placeholder {
    color: rgba($color: #ffff, $alpha: 0.4);
  }
  &.invalid {
    border-color: var(--main-orange);
  }
  option {
    font-family: "Helvetica", "sans-serif";
    background: var(--main-black);
    color: var(--main-white);
  }
}
