@import "../../../utils/media.scss";

.season {
  width: 143;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 2;
  .absolute{
      position: absolute;
  bottom: 9px;
  left: 0;
  @include respond(phone) {
    bottom: initial;
    svg{
      width: 67px;
    }
  }
  }
  .basics{
    bottom: 20px;
    left: 10px;
  }
  @include respond(desktop) {
    left: 40px;
  }
  &.fromHome {
    opacity: 0;
    visibility: hidden;
    flex: none;
  }
  h3 {
    text-align: left;
  }
  .brand {
    background-color: var(--main-orange);
    margin-bottom: 5px;
    width: 100%;
  }
  @include respond(phone) {
    position: relative;
    bottom: initial;
    left: initial;
    flex: none;
  }
}
