@import "../../../utils/media.scss";

.season {
  width: 143;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  bottom: 9px;
  left: 0;
  @include respond(desktop) {
    left: 40px;
  }
  &.fromHome {
    opacity: 0;
    visibility: hidden;
  }
  h3 {
    text-align: left;
  }
  .brand {
    background-color: var(--main-orange);
    margin-bottom: 5px;
    width: 100%;
  }
  @include respond(phone) {
    position: relative;
    bottom: initial;
    left: initial;
  }
}
