@import "../../../utils/media.scss";

.itemContainer {
  width: 100%;
  position: relative;
  &_title {
    text-align: left;
  }
  &_items {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    @include respond(phone) {
      // flex-direction: column;
      // justify-content: center;
      // align-items: center;
    }
  }
}
