@import "../../utils/media.scss";
.checkout {
  padding-top: 234px;
  width: 100%;
  height: 100%;
  display: flex;
  @include respond(phone) {
    padding: 110px 34px 40px;
  }
  &_left {
    margin-right: 100px;
    z-index: 1000;
    button {
      margin-top: 32px;
    }
  }
  &_right {
    width: 100%;
  }
}
.buttonMobile {
  width: 100%;
  padding: 0 34px;
  button {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    height: 44px;
    span {
      font-size: 18px !important;
      margin-top: 2px;
    }
  }
  h4 {
    margin-bottom: 18px;
  }
}
