.dot {
  width: 34.5px;
  height: 31.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.2;
  background-color: transparent;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  margin-right: 13px;
  position: relative;
  &:last-of-type {
    margin-right: 0;
  }
  &.selected {
    opacity: 1;
  }
  &.white {
    background-color: var(--main-white);
    border-color: var(--main-white);
    span {
      color: var(--main-black);
    }
  }
}
