.button {
  border: none;
  outline: none;
  padding: 7px 18px;
  background-color: var(--main-white);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  border: 1px solid transparent;
  opacity: 1;
  // min-width: 206px;

  &.secondary {
    background-color: var(--main-black);
  }
  &:disabled {
    opacity: 0.3;
    background-color: transparent;
    border: 1px solid var(--main-white);
    color: var(--main-orange);
  }

  &:focus {
    border: none;
    outline: none;
  }
}
