@import "../../../utils/media.scss";

.itemSheet {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  // margin-right: 218px;
  position: absolute;
  @include respond(phone) {
    width: 100%;
    margin-right: 0;
    position: relative;
  }
  &_container {
    margin-bottom: 15px;
    @include respond(phone) {
      padding: 0 34px;
    }
    &.selector {
      display: flex;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.301);
      @include respond(phone) {
        justify-content: space-between;
        width: 100%;
      }
    }
    &:first-of-type {
      margin-bottom: 15px;
    }
    h1 {
      text-align: left;
    }
  }
  .actionButton {
    @include respond(phone) {
      width: 100%;
      margin: 0 auto;
      button {
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
        height: 44px;
        span {
          font-size: 18px !important;
          margin-top: 2px;
        }
      }
    }
  }
}
