@import "../../../utils/media.scss";

.itemSheet {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 115px;
  @include respond(phone) {
    width: 100%;
    margin-right: 0;
    position: relative;
  }
  &_container {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin-bottom: 15px;
    @include respond(phone) {
      padding: 20px 34px;
    }
    &.selector {
      display: flex;
      margin-bottom: 102px;
      border-bottom: none;
      position: relative;
      @include respond(phone) {
        justify-content: space-between;
        width: 100%;
        margin-bottom: 30px;
      }
    }
    h1 {
      text-align: left;
    }
  }
  .actionButton {
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    h4{
      margin-right: 21px;
      white-space: nowrap;
    }
    span{
      white-space: nowrap;
    }
    @include respond(phone) {
      width: 100%;
      margin: 0 auto;
      button {
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
        height: 44px;
        span {
          font-size: 18px !important;
          margin-top: 2px;
          
        }
      }
    }
  }
  .tabla {
  }
}

.decor {
  text-decoration: underline;
}

.size_table{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 8px;
  cursor: pointer;
  svg{
    margin-right: 6px;
    margin-left: -5px;
  }
}

.outstock{
  width: fit-content;
  padding: 7px 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  border: 1px solid rgba(255, 255, 255, 0.15);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100px
}
