.mobileNav {
  position: fixed;
  z-index: 10000;
  height: 100vh;
  width: 100%;
  background: var(--main-black);
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .logo {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
  }
  .cross {
    width: 50px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
