@import "../../../utils/media.scss";

.storeSection {
  width: 100%;
  border-bottom: 1px solid var(--main-border);
  padding: 20px 0;
  margin-bottom: 20px;
  &_hoodies {
    display: flex;
    justify-content: space-between;
    @include respond(phone) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.item {
  width: 110px;
  height: 136px;
  position: relative;
  background-color: #ffffff;
  transition: all 250ms ease-in-out;
  margin-right: 10px;
  margin-top: 10px;
  &.isClosed {
    width: 0px;
    height: 0px;
  }
  @include respond(phone) {
    width: 155px;
    height: 193px;
  }
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 300ms ease-in-out;
  }
  &.fromShowcase {
    width: 329px;
    height: 485px;
    margin: 0 auto;
  }
}

.old {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 28px;
  background: var(--main-black);
  border: 1px solid var(--main-white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemContainer {
  width: 100%;
  position: relative;
  &_title {
    text-align: left;
  }
  &_items {
    width: 100%;
    max-height: 285px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    @include respond(phone) {
      // flex-direction: column;
      // justify-content: center;
      // align-items: center;
    }
  }
}
