.selector {
  width: fit-content;
  &.last {
    margin-left: 42px;
  }
  h4 {
    text-align: left;
  }
  &_container {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22.5px;
  }
}
